<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Login</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sign in</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <form method="post">
                    <div class="control-group mb-2">
                        <label class="mb-2">Email</label>
                        <input type="email" class="form-control" name="Email" placeholder="Your Email" autocomplete="off"
                            required="required" data-validation-required-message="Please enter your email" />
                    </div>
                    <div class="control-group mb-2">
                        <label class="mb-2">Password</label>
                        <input type="password" class="form-control" name="Password" placeholder="Password" autocomplete="off"
                            required="required" data-validation-required-message="Please enter your password" />
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Login</button>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-center fw-bold mt-2"></div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h2 class="lead text-uppercase">Don't have an account?</h2>
             <div class="contact-form bg-light p-30">
                <h2 class="lead text-uppercase mb-4">Sign up for free!</h2>
                <p class="lead mb-5">Follow the link below</p>
                <a href="/auth/register" class="btn btn-primary btn-block">Sign Up For Free</a>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->