<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/adminKit/dist/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <!--Bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--SweetAlert-->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   


    <title>Admin View</title>
    <link href="~/adminKit/dist/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">Admin</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/dashboard/">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item dropdown">
                        <a class="sidebar-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="align-middle" data-feather="user-plus"></i>
                            Users
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/userrole/">Users</a>
                            <a class="dropdown-item" href="/admin/role/">Roles</a>
                        </div>
                    </li>

                    <li class="sidebar-item dropdown">
                        <a class="sidebar-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="align-middle" data-feather="map"></i>
                            Manage Catagories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/catagory/">Catagories</a>
                            <a class="dropdown-item" href="/admin/subcatagory/">Subcatagories</a>
                        </div>
                    </li>

                    <li class="sidebar-item dropdown">
                        <a class="sidebar-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="align-middle" data-feather="shopping-cart"></i>
                            Manage Product
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/product/">My Products</a>
                        </div>
                    </li>
                     <li class="sidebar-item dropdown">
                        <a class="sidebar-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="align-middle" data-feather="mail"></i>
                            Manage Messages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/contact/">All Messages</a>
                            <a class="dropdown-item" href="/admin/reply/">My Replies</a>
                        </div>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/user/">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">
                                Profile
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/home/">
                            <i class="align-middle" data-feather="home"></i> <span class="align-middle">
                                Main Page
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        @await Component.InvokeAsync("NotificationsVC")
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                               data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                               data-bs-toggle="dropdown">
                                <span class="text-dark">
                                    @User.Identity.Name
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/user/">
                                    <i class="align-middle me-1" data-feather="user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/admin/dashboard/">
                                    <i class="align-middle me-1" data-feather="pie-chart"></i> Analytics
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" onclick="logout()">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                    <strong>AdminKit</strong>
                                </a> -
                                <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                    <strong>Bootstrap Admin Template</strong>
                                </a>&copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/adminKit/dist/js/app.js"></script>
    @RenderSection("Scripts",false)
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });

        function logout(){
            $.ajax({
                type:"post",
                url:"/auth/logout",
                success:function(res){
                    if(res.success){
                        location.reload();
                    }
                }
            })
        }
    </script>
        
</body>

</html>