  <!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <form name="sentMessage" id="contactForm" method="post" novalidate="novalidate">
                   
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Your Email" name="Email"
                               required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="Subject"
                               required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="message" placeholder="Message"
                                  required="required"   name="Message"
                                  data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Baku , Azerbaijan</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>rufullayevilkin66@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@section Scripts{
    <script>
        $("#sendMessageButton").click(function(){
            const values =  $("#contactForm").serializeArray();
            const dataObj = {};
            $.each(values, function () {
                dataObj[this.name] = this.value;
            });
            $.ajax({
                type:"post",
                url:"/contact/send",
                data:dataObj,
                success:function(res){
                    if(res.success){
                        Swal.fire("Success","Sent succesfully","success");
                    }else{
                        Swal.fire("Error","Something went wrong","error");
                    }
                }
            })
        })
    </script>
}