@model IEnumerable<Catagory>

<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card mt-4">
                    <div class="card-header">
                        Manage
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="subCategoryName">Subcatagory name</label>
                            <input type="text" name="Name" id="subCategoryName"
                                   class="form-control" placeholder="Enter name.." />
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <select class="form-control" multiple name="categoryIds">
                                @foreach (var category in Model ?? Enumerable.Empty<Catagory>())
                                                    {
                                    <option value="@category.Id">
                                        @category.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>