@model IEnumerable<SubCatagory>
@inject AppDbContext context
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card m-auto">
                <div class="card-header">
                    <h3 class="card-title">Manage Catagories</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>SubCategory</th>
                                <th>Catagory</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int count = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>
                                            @{
                                                var catagories = context.CatagorySub.Include(x => x.Catagory)
                                                .Where(x => x.SubCatagoryId == item.Id).ToList();
                                                foreach (var category in catagories)
                                                {
                                                    <span class="badge bg-success">
                                                        @category.Catagory.Name
                                                    </span>
                                                }
                                            }

                                        </td>
                                        <td>
                                            <a class="btn btn-warning" href="/Admin/SubCatagory/edit/@item.Id">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger"
                                               href="/Admin/SubCatagory/Delete/@item.Id"
                                               onclick="return confirm('Are You Sure?')">Delete</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <div asp-validation-summary="ModelOnly" class="alert alert-warning">
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/admin/subcatagory/create"
                   class="btn btn-info mt-3 mb-3">
                    Create
                </a>
            </div>
        </div>
    </div>
</div>