@model Contact
<div class="container">
    <h1 class="lead">Reply to User</h1>
    <div class="row">
        <div class="col-lg-12 col-md-8 col-sm-6">
            <div class="alert alert-primary">
                <h6 class="text-primary">Message from <b>@Model.Email</b></h6>
                <p class="lead text-primary">@Model.Message</p>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="mb-3">
            <textarea class="form-control form-control-lg" name="Message" placeholder="Your reply.." type="text" rows="10"></textarea>
        </div>
        <div class="text-left mt-3">
            <button type="submit" class="btn btn-lg btn-primary">
                Send
            </button>
        </div>
    </form>
</div>
<br />
<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>